.Subject {}
  .Subject__header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    padding: 25px; }
    .Subject__hsc {
      font-weight: 300;
      padding-right: 10px;
      color: #ff5252; }
    .Subject__sub-title {
      display: flex;
      align-items: center; }
      .Subject__sub-title-path,
      .Subject__sub-title-hyphen,
      .Subject__sub-title-updated {
        font-size: 17px;
        font-weight: 400; }
      .Subject__sub-title-hyphen {
        padding: 0 5px; }
      .Subject__sub-title-path {
        color: #BDBDBD; }
      .Subject__sub-title-updated-underline {
        text-decoration: underline; }
  .Subject__nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    display: flex;
    justify-content: center;
    align-items: center; }
    .Subject__nav-item {
      display: flex;
      align-items: center;
      width: 150px;
      justify-content: center;
      transition: .2s all;
      border-bottom: 3px solid;
      border-color: transparent;
      font-size: 16px;
      padding: 15px 25px 15px 25px; }
      .Subject__nav .Subject__nav-item:hover {
        background-color: #EEEEEE; }
      .Subject__nav-item-active {
        color: #ff5252;
        font-weight: 600;
        border-color: #ff5252 !important; }
        .Subject__nav-item-active .Subject__tab-icon {
          color: #ff5252; }
      .Subject__tab-icon {
        padding-right: 10px;
        font-size: 23px; }
  .Subject__content {
    padding: 30px;
    z-index: 3; }
