.Styles__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 20px 0;
  line-height: 40px;
  color: #202124;
  font-weight: 400;
  font-size: 44px; }

.Styles__sub-title {
  color: #BDBDBD;
  font-size: 15px;
  font-weight: 400; }

.Styles__heading-2 {
  padding: 0 0 20px 0;
  font-size: 17px;
  color: #333;
  font-weight: 400;
  max-width: 760px; }
