#AddPastPaper {
  display: flex;
  flex-direction: column; }
  #AddPastPaper .AddPastPaper__row {
    padding-bottom: 20px;
    width: 200px; }
  #AddPastPaper .AddPastPaper__row:last-child {
    padding-bottom: 0; }
