#Header {
  display: flex;
  padding: 0 10px;
  align-items: center;
  width: calc(100% - 20px);
  height: 8vh;
  z-index: 4;
  background-color: #202124;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28) }
  #Header .Header-hamburger {
    margin: 15px 25px 10px 15px;
    outline: none;
    padding: 0; }
    #Header .Header-hamburger:hover {
      opacity: 1; }
    #Header .Header-hamburger .hamburger-inner,
    #Header .Header-hamburger .hamburger-inner:before,
    #Header .Header-hamburger .hamburger-inner:after {
      height: 3px;
      background-color: #E0E0E0; }
      #Header .Header-hamburger:hover .hamburger-inner,
      #Header .Header-hamburger:hover .hamburger-inner:before,
      #Header .Header-hamburger:hover .hamburger-inner:after {
        background-color: #9E9E9E; }
  #Header .Header-logo {
    display: block;
    margin-top: -8px;
    padding: 0;
    text-decoration: none;
    color: #FF9800;
    font-size: 37px;
    font-family: 'dm';
    font-style: italic;;
    font-weight: 500; }
    #Header .Header-logo:hover {
      color: #2196F3;
      text-decoration: underline; }

@media (min-height: 1080px) {
  #Header {
    height: 6vh; }
}
