#Header {
  display: flex;
  z-index: 3;
  padding: 0 10px;
  align-items: center;
  width: calc(100% - 20px);
  height: 69px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.14); }
  #Header .Header__hamburger {
    margin: 15px 25px 10px 15px;
    outline: none;
    padding: 0; }
    #Header .Header__hamburger:hover {
      opacity: 1; }
    #Header .Header__hamburger .hamburger-inner,
    #Header .Header__hamburger .hamburger-inner:before,
    #Header .Header__hamburger .hamburger-inner:after {
      height: 2px;
      background-color: rgba(0,0,0,0.54); }
      #Header .Header__hamburger:hover .hamburger-inner,
      #Header .Header__hamburger:hover .hamburger-inner:before,
      #Header .Header__hamburger:hover .hamburger-inner:after {
        background-color: rgba(0,0,0,0.7); }
  #Header .Header__logo {
    display: block;
    margin-top: -8px;
    padding: 0;
    text-decoration: none;
    color: #ff5252;
    font-size: 37px;
    font-family: 'dm';
    font-style: italic;;
    font-weight: 500; }
    #Header .Header__logo:hover {
      text-decoration: underline; }
