#Header {
  display: flex;
  align-items: center;;
  justify-content: center;
  width: 100vw;
  height: calc(8vh - 1px);
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0; }
  #Header .Header-logo {
    display: block;
    margin-top: -8px;
    padding: 0;
    text-decoration: none;
    color: #F44336;
    font-size: 35px;
    font-family: 'dm', 'Roboto';
    font-style: italic;;
    font-weight: 800; }
    #Header .Header-logo:hover {
      color: #3F51B5;
      text-decoration: underline; }

@media (min-height: 1080px) {
  #Header {
    height: calc(6vh - 1px); }
}
