.Subject {}
  .Subject .Subject__header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    padding: 25px; }
    .Subject .Subject__hsc {
      font-weight: 300;
      padding-right: 10px;
      color: #ff5252; }
    .Subject .Subject__sub-title {
      display: flex;
      align-items: center; }
      .Subject .Subject__sub-title-path,
      .Subject .Subject__sub-title-hyphen,
      .Subject .Subject__sub-title-updated {
        font-size: 15px;
        font-weight: 400; }
      .Subject .Subject__sub-title-hyphen {
        padding: 0 5px; }
      .Subject .Subject__sub-title-path {
        color: #BDBDBD; }
      .Subject .Subject__sub-title-updated-underline {
        text-decoration: underline; }
  .Subject .Subject__nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    display: flex;
    justify-content: center;
    align-items: center; }
    .Subject .Subject__nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s all;
      border-bottom: 3px solid;
      border-color: transparent;
      padding: 15px 10px 14px 10px; }
      .Subject .Subject__nav .Subject__nav-item:hover {
        background-color: #EEEEEE; }
      .Subject .Subject__nav-item-icon {
        font-size: 20px; }
      .Subject .Subject__nav-item-text {
        padding-left: 10px;
        font-weight: 400;
        font-size: 14px; }
      .Subject .Subject__nav-item-active {
        color: #ff5252;
        border-color: #ff5252 !important; }
        .Subject .Subject__nav-item-active .Subject__nav-item-icon {
          color: #ff5252; }
        .Subject .Subject__nav-item-active .Subject__nav-item-text {
          color: #ff5252; }
  .Subject .Subject__content {
    padding: 25px;
    z-index: 3; }

  @media (min-width: 900px) {
    .Subject .Subject__nav-item {
      padding: 15px 15px 14px 15px; }
      .Subject .Subject__nav-item-icon {
        font-size: 23px; }
      .Subject .Subject__nav-item-text {
        font-size: 14px; }
  }

@media (min-width: 1000px) {
  .Subject .Subject__sub-title-path,
  .Subject .Subject__sub-title-hyphen,
  .Subject .Subject__sub-title-updated {
    font-size: 17px;
    font-weight: 400; }
  .Subject .Subject__nav-item {
    padding: 15px 20px 14px 20px; }
    .Subject .Subject__nav-item-text {
      font-size: 16px; }
}
