.Loading {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #f5f5f5;
	align-items: center;
	flex-direction: column;
	justify-content: center; }
	.Loading .Loading__ring {
		display: inline-block;
		width: 80px;
		height: 80px; }
		.Loading .Loading__ring:after {
			content: " ";
			display: block;
			width: 80px;
			height: 80px;
			margin: 1px;
			border-radius: 50%;
			border: 5px solid #333;
			border-color: #333 transparent #ff5252 transparent;
			animation: lds-dual-ring 1.2s linear infinite; }
	.Loading .Loading__text {
		font-size: 18px;
		margin-top: 40px; }

@keyframes lds-dual-ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
