#Loading {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center; }
	.Loading_ring {
		display: inline-block;
		width: 80px;
		height: 80px; }
		.Loading_ring:after {
			content: " ";
			display: block;
			width: 80px;
			height: 80px;
			margin: 1px;
			border-radius: 50%;
			border: 5px solid #333;
			border-color: #333 transparent #ff5252 transparent;
			animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
