#SubjectSelection {
	display: grid;
	width: 100%;
	height: 100%;
  align-items: center;
	justify-content: center; }
	.SubjectSelection__content {
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		width: 40vw;
		align-items: center;
		background-color: #FAFAFA;
		box-shadow: 10px 10px 150px 8vw #FAFAFA;
		padding: 90px 160px; }
		.SubjectSelection__title {
			display: flex;
			width: 100%;
			justify-content: center;
			padding-bottom: 10px;
			border-bottom: 1px solid rgba(0,0,0,0.14);
			margin-bottom: 20px;
			font-weight: 400;
			font-size: 23px; }
		.SubjectSelection__subjects {
			display: flex;
			flex-direction: column;
			width: 100%;
			justify-content: center;
			align-items: center; }
			.SubjectSelection__subject {
				z-index: 1;
				width: 100%;
				display: flex;
				align-items: flex-start;
				border-radius: 8px;
				cursor: pointer;
				margin-bottom: -1px;
				padding: 15px 20px;
				border: 1px solid #FAFAFA;
				outline: none; }
				.SubjectSelection__list {
					font-weight: 700;
					font-size: 21px;
					padding-right: 15px !important;
					font-weight: 400; }
				.SubjectSelection__subject-info {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					flex-direction: row; }
					.SubjectSelection__subject-text {
						display: flex;
						justify-content: center;
						flex-direction: column;	}
						.SubjectSelection__subject-name {
							font-weight: 700;
							font-size: 21px;
							text-align: left; }
							.SubjectSelection__hsc {
								padding-right: 5px;
								color: #ff5252;
								font-weight: 300; }
						.SubjectSelection__updated {
							font-size: 15px;
							font-weight: 400;
							text-align: left; }
				.SubjectSelection__subject:hover {
					z-index: 2;
					border-color: #bdbdbd; }
