#ManageDatabase {
  padding: 25px; }
  #ManageDatabase .ManageDatabase__content {
    display: flex;
    flex-direction: column; }
    #ManageDatabase .ManageDatabase__row:last-child {
      padding-bottom: 0; }
    #ManageDatabase .ManageDatabase__row {
      padding-bottom: 20px;
      width: 200px; }
