@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,400i,500,700');

body {
	margin: 0;
	border: 0;
	padding: 0; }
	body, h1, h2, h3, h4, h5 h6, p, i, a, bold, span, strong, div, section, nav, aside, button, input {
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
		color: #333;
		margin: 0; }

.window {
	display: flex;
	align-items: flex-start; }
	.content {
	  background-color: #f5f5f5;
		width: 100vw;
		height: calc(100vh - 70px); }
	.content-menu-active {
		width: calc(100vw - 250px); }

.centred-content {
	margin: 0 auto;
	padding: 20px;
	border-radius: 3px;
	background-color: #fff;
	width: 100%; }

@media (min-height: 1080px) {
  .content {
    height: 94vh; }
}

@media (min-width: 1000px) {
  .centred-content {
		box-shadow:
			0px 1px 3px 0px rgba(0, 0, 0, 0.2),
			0px 1px 1px 0px rgba(0, 0, 0, 0.14),
			0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    width: 700px; }
}

@media (min-width: 1200px) {
  .centred-content {
    width: 800px; }
}

@media (min-width: 1350px) {
	.centred-content {
		width: 1000px;	}
}
