@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,400i,500,700');

body {
	margin: 0;
	border: 0;
	padding: 0; }
	body, h1, h2, h3, h4, h5 h6, p, i, a, bold, span, strong, div, section, nav, aside, button, input {
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
		color: #333;
		margin: 0; }

.window {
	display: flex;
	align-items: flex-start; }
	.content {
		width: 100vw;
		height: 92vh; }
	.content-menu-active {
		width: calc(100vw - 250px); }

@media (min-height: 1080px) {
  .content {
    height: 94vh; }
}
